* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

img {
  display: block;
}

h1 {
  font-weight: 700;
}

h2,
a,
.shop-now {
  font-weight: 600;
}

p {
  font-weight: 500;
  color: hsl(0, 0%, 63%);
  line-height: 1.5;
}

main .main-content, .hero-image-section nav, header .hero-content-section {
  padding-left: 2rem;
  padding-right: 2rem;
}

body {
  scroll-behavior: smooth;
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  margin: 0;
  display: flex;
  padding: 3rem 2rem;
  justify-content: space-between;
  border: none;
  transform: translateY(-100%);
  transition: transform ease-in-out 1s;
}
dialog .close-menu:hover {
  cursor: pointer;
}
dialog .dialog-menu {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}
dialog .dialog-menu li {
  list-style-type: none;
  display: inline-block;
  padding-bottom: 0.2rem;
  text-transform: lowercase;
}
dialog .dialog-menu li a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}
dialog .dialog-menu li:hover {
  border-bottom: 1px solid hsl(0, 0%, 0%);
}

dialog.show {
  transform: translateY(0%);
}

dialog.hide {
  transform: translateY(-100%);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5); /* dimmed background */
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header .hero-image-section {
  background-image: url("../images/mobile-image-hero-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: hsl(0, 0%, 63%);
  height: 60vh;
  position: relative;
}
header .hero-content-section {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-image-section nav {
  display: flex;
  margin-top: 3rem;
  justify-content: flex-start;
}
.hero-image-section nav .hamburger-menu:hover {
  cursor: pointer;
}
.hero-image-section nav .logo {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image-section nav .menu {
  display: none;
}
.hero-image-section .slide-btns {
  position: absolute;
  right: 0rem;
  bottom: 0;
  display: flex;
}
.hero-image-section .slide-btns button {
  background-color: hsl(0, 0%, 0%);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: background-color 0.3s ease-out;
}
.hero-image-section .slide-btns button:hover {
  background-color: hsl(0, 0%, 27%);
  cursor: pointer;
}

.hero-content-section a {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.hero-content-section a .shop-now {
  color: hsl(0, 0%, 0%);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  transition: color 0.3s ease-out;
}
.hero-content-section a:hover .shop-now {
  color: hsl(0, 0%, 63%);
}
.hero-content-section a:hover img {
  opacity: 0.3;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}
main .main-image img {
  width: 100%;
}
main .main-content h2 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 25rem) {
  body {
    height: 100vh;
  }
  dialog {
    display: none;
  }
  p {
    font-size: 0.8rem;
  }
  header {
    flex-direction: row;
    height: 70%;
  }
  header .hero-image-section {
    width: 58%;
    height: auto;
  }
  header .hero-content-section {
    padding-left: 6rem;
    padding-right: 6rem;
    width: 42%;
    margin: 0;
    justify-content: center;
    align-items: flex-start;
  }
  .hero-image-section nav {
    margin-top: 2rem;
    gap: 3rem;
  }
  .hero-image-section nav .hamburger-menu {
    display: none;
  }
  .hero-image-section nav .logo {
    flex: 0;
  }
  .hero-image-section nav .menu {
    display: flex;
    gap: 2rem;
  }
  .hero-image-section nav .menu li {
    list-style-type: none;
    display: inline-block;
    padding-bottom: 0.2rem;
    text-transform: lowercase;
  }
  .hero-image-section nav .menu li a {
    text-decoration: none;
    color: hsl(0, 100%, 100%);
  }
  .hero-image-section nav .menu li:hover {
    border-bottom: 1px solid hsl(0, 100%, 100%);
  }
  .hero-image-section .slide-btns {
    right: -9.4rem;
  }
  .hero-image-section .slide-btns button {
    width: 4.7rem;
    height: 4.7rem;
  }
  .hero-content-section a img {
    width: 2rem;
  }
  main {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
  main .main-content {
    width: 38.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  main .main-content h2 {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
